<div class="sidebar bg-dark text-white">

    <h3 class="text-center py-4">
        FlowIQ
    </h3>

    <ul class="nav flex-column">

        <li class="nav-item">
            <a href="/" class="nav-link text-white">
                <i class="fa-solid fa-house me-2"></i>
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link text-white" onclick="loadCompanies()">
                <i class="fa-solid fa-building me-2"></i>
                Companies
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-landmark me-2"></i>
                Banks
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-user-tie me-2"></i>
                Brokers
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-file-contract me-2"></i>
                Loan Applications
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link text-white">
                <i class="fa-solid fa-gear me-2"></i>
                Settings
            </a>
        </li>

    </ul>

</div>